{% extends 'todo/main.html' %}

{% block content %}

<div class="header-bar">
    <h1>Inscription</h1>
</div>
<div class="card-body">
    <form action="" method="post">
        {% csrf_token %}
        <label>{{ form.username.label }}</label>
        {{ form.username }}
        <div style="color: rgb(255, 0, 0)">
                    Requis. 150 caractères ou moins. Lettres, chiffres et @/./+/-/_ uniquement.

        </div>

        <label>{{ form.password1.label }}</label>
        {{ form.password1 }}
                <div style="color: rgb(255, 0, 0)">

      Votre mot de passe ne doit pas être trop similaire à vos autres informations personnelles.
                    <br><br>

    Votre mot de passe doit contenir au moins 8 caractères.
                    <br><br>

    Votre mot de passe ne peut pas être un mot de passe couramment utilisé.
                    <br><br>

    Votre mot de passe ne peut pas être entièrement numérique.
                </div>
        <label>{{ form.password2.label }}</label>
        {{ form.password2 }}
        <div style="color: rgb(255, 0, 0)">


            Entrez le même mot de passe qu'avant, pour vérification

        </div>
        <br>
        <input class="button" type="submit" value="Inscrivez-vous">
    
        <small><p>Avez-vous un compte ? <a href="{% url 'login' %}">Connectez-vous</a></p></small>
     </form>
</div>
{% endblock content %}